.ico-login {
  display: inline-block;
  min-width: 16px;
  height: 19px;
  background: url(../images/icon/ico-login.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-sign {
  display: inline-block;
  min-width: 16px;
  height: 16px;
  background: url(../images/icon/ico-sign.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-lang {
  display: inline-block;
  min-width: 16px;
  height: 16px;
  background: url(../images/icon/ico-lang.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-newwindow {
  display: inline-block;
  min-width: 15px;
  height: 15px;
  background: url(../images/icon/ico-newwindow.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-newwindow-black {
  display: inline-block;
  min-width: 13px;
  height: 13px;
  background: url(../images/icon/ico-newwindow-black.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-search {
  display: inline-block;
  min-width: 17px;
  height: 17px;
  background: url(../images/icon/ico-search.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-search-lg {
  display: inline-block;
  min-width: 25px;
  height: 25px;
  background: url(../images/icon/ico-search-lg.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-lock-active {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  border-radius: 24px;
  background: #eef6f9 url(../images/icon/ico-lock-active.png) no-repeat 50% 50%;
  background-size: 12px 12px;
  font-size: 0;
  line-height: 0;
}
.ico-file {
  display: inline-block;
  min-width: 15px;
  height: 14px;
  background: url(../images/icon/ico-file.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-home {
  display: inline-block;
  min-width: 14px;
  height: 14px;
  background: url(../images/icon/ico-home.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-eye {
  display: inline-block;
  min-width: 14px;
  height: 11px;
  background: url(../images/icon/ico-eye.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-link {
  display: inline-block;
  min-width: 7px;
  height: 13px;
  background: url(../images/icon/ico-link.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-download {
  display: inline-block;
  min-width: 16px;
  height: 17px;
  background: url(../images/icon/ico-download.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-youtube {
  display: inline-block;
  min-width: 23px;
  height: 14px;
  background: url(../images/icon/ico-youtube.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-shorts {
  display: inline-block;
  min-width: 16px;
  height: 20px;
  background: url(../images/icon/ico-shorts.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-notice {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../images/icon/ico-notice.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-remove {
  display: inline-block;
  min-width: 10px;
  height: 10px;
  background: url(../images/icon/ico-search-remove.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-search-arrow {
  display: inline-block;
  min-width: 17px;
  height: 12px;
  background: url(../images/icon/ico-search-arrow.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-refresh {
  display: inline-block;
  min-width: 14px;
  height: 17px;
  background: url(../images/icon/ico-refresh.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-tel {
  display: inline-block;
  min-width: 25px;
  height: 25px;
  background: url(../images/icon/ico-tel.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-file-plus {
  display: inline-block;
  min-width: 19px;
  height: 20px;
  background: url(../images/icon/ico-file-plus.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-check-success {
  display: inline-block;
  min-width: 13px;
  height: 13px;
  background: url(../images/icon/ico-check-success.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-check-secondary {
  display: inline-block;
  min-width: 13px;
  height: 13px;
  background: url(../images/icon/ico-check-secondary.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-post {
  display: inline-block;
  min-width: 17px;
  height: 17px;
  background: url(../images/icon/ico-post.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-attachment {
  display: inline-block;
  min-width: 26px;
  height: 26px;
  background: url(../images/icon/ico-attachment.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
  @media screen and (max-width: $mobileWidth) {
    min-width: 18px;
    height: 18px;
  }
}
.ico-search-white {
  display: inline-block;
  min-width: 16px;
  height: 17px;
  background: url(../images/icon/ico-search-white.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-lock {
  display: inline-block;
  min-width: 22px;
  height: 22px;
  background: url(../images/icon/ico-lock.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
  @media screen and (max-width: $mobileWidth) {
    min-width: 18px;
    height: 18px;
  }
}
.ico-lock-off {
  display: inline-block;
  min-width: 22px;
  height: 22px;
  background: url(../images/icon/ico-lock-off.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
  @media screen and (max-width: $mobileWidth) {
    min-width: 18px;
    height: 18px;
  }
}
.ico-classroom-index01 {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../images/icon/ico-classroom-index01.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-classroom-index02 {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../images/icon/ico-classroom-index02.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-classroom-index03 {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../images/icon/ico-classroom-index03.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-classroom-index04 {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../images/icon/ico-classroom-index04.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.ico-exclamation-circle {
  display: inline-block;
  min-width: 15px;
  height: 15px;
  background: url(../images/icon/ico-exclamation-circle.svg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
