<div id="skip">
  <a href="#kfsi-body">본문 내용 바로가기</a>
</div>
<header class="kfsi-header">
  <div class="pc">
    <div class="kfsi-header-head">
      <div class="kfsi-inner">
        <a href="./index.html" class="kfsi-header-logo"
          ><img src="./assets/images/logo.svg" alt="한국소방안전원"
        /></a>

        <div class="kfsi-header-head-menu">
          <a href="" class="btn btn-outline-secondary btn-sm btn-round">
            <i class="ico-login"></i>
            로그인
          </a>
          <a href="" class="btn btn-outline-secondary btn-sm btn-round">
            <i class="ico-logout"></i>
            로그아웃
          </a>
          <a href="" class="btn btn-outline-secondary btn-sm btn-round">
            <i class="ico-sign"></i>
            회원가입
          </a>
          <button
            type="button"
            class="btn btn-outline-secondary btn-sm btn-round btn-search"
          >
            <i class="ico-search"></i>
          </button>
          <div class="kfsi-header-head-search">
            <div class="kfsi-inner">
              <div class="kfsi-header-head-search-form">
                <input
                  type="text"
                  class="form-control form-control-lg"
                  title="검색어 입력"
                  placeholder="찾고 싶은 검색어를 입력해 보세요."
                />
                <button type="button">검색</button>
              </div>
              <div class="kfsi-header-head-search-keyword">
                <dl>
                  <dt>최근 검색어</dt>
                  <dd>
                    <div class="kfsi-header-head-search-keyword-none">
                      최근에 검색한 검색어가 없습니다.
                    </div>
                  </dd>
                </dl>
                <dl>
                  <dt>최근 검색어</dt>
                  <dd>
                    <div class="kfsi-header-head-search-keyword-list">
                      <div class="kfsi-header-head-search-keyword-list-button">
                        <button
                          type="button"
                          class="btn btn-white btn-sm btn-round"
                        >
                          소방
                          <div
                            class="ico-remove"
                            onclick="$(this).parents('.btn').remove()"
                          ></div>
                        </button>
                        <button
                          type="button"
                          class="btn btn-white btn-sm btn-round"
                        >
                          장학금
                          <div
                            class="ico-remove"
                            onclick="$(this).parents('.btn').remove()"
                          ></div>
                        </button>
                      </div>
                      <button class="btn btn-link btn-sm">
                        전체삭제
                        <div class="ico-remove"></div>
                      </button>
                    </div>
                  </dd>
                </dl>
                <dl>
                  <dt>인기 검색어</dt>
                  <dd>
                    <div class="kfsi-header-head-search-keyword-list">
                      <div class="kfsi-header-head-search-keyword-list-button">
                        <button
                          type="button"
                          class="btn btn-primary btn-sm btn-round"
                        >
                          소방관계법령
                        </button>
                        <button
                          type="button"
                          class="btn btn-primary btn-sm btn-round"
                        >
                          회원혜택
                        </button>
                        <button
                          type="button"
                          class="btn btn-primary btn-sm btn-round"
                        >
                          장학금신청
                        </button>
                        <button
                          type="button"
                          class="btn btn-primary btn-sm btn-round"
                        >
                          재해위로금신청
                        </button>
                      </div>
                    </div>
                  </dd>
                </dl>
              </div>
              <button class="kfsi-header-head-search-close">닫기</button>
            </div>
          </div>
          <a
            href=""
            class="btn btn-primary btn-sm btn-round"
            title="소방안전24 사이트가 새창으로 열립니다."
          >
            소방안전원 바로가기
            <i class="ico-newwindow">새창 열림</i>
          </a>
        </div>
      </div>
    </div>
    <div class="kfsi-header-foot">
      <div class="kfsi-inner">
        <div class="kfsi-header-gnb">
          <div class="kfsi-header-gnb-item">
            <a href="javascript:void(0)">나의 강의실</a>
            <div class="kfsi-header-gnb-item-depth">
              <div class="kfsi-inner">
                <dl>
                  <dt><a href="">나의 교육 정보 조회</a></dt>
                  <dd>
                    <a href="US-PS00-02-01-01-10.html" class="active"
                      >납부내역 조회</a
                    >
                    <a href="US-PS00-02-01-02-10.html">자격취득 현황</a>
                    <a href="US-PS00-02-01-05-10.html">선임대상처 현황</a>
                    <a href="">실무교육수료 기한</a>
                  </dd>
                </dl>
                <dl>
                  <dt><a href="">진행 중인 교육</a></dt>
                  <dd>
                    <a href="">교육 목록</a>
                    <a href="">학습 홈</a>
                  </dd>
                </dl>
                <dl>
                  <dt><a href="">완료된 교육</a></dt>
                </dl>
              </div>
            </div>
          </div>
          <div class="kfsi-header-gnb-item">
            <a href="javascript:void(0)">교육신청</a>
            <div class="kfsi-header-gnb-item-depth">
              <div class="kfsi-inner">
                <dl>
                  <dt><a href="">강습교육</a></dt>
                  <dd>
                    <a href="" class="active">강습교육 신청</a>
                    <a href="">강습교육 신청 내역</a>
                    <a href="">대기자 교육신청</a>
                    <a href="">수료증 발급</a>
                    <a href="">수료증 진위확인</a>
                    <a href="">교육접수증 진위확인</a>
                  </dd>
                </dl>
                <dl>
                  <dt><a href="">실무교육</a></dt>
                  <dd>
                    <a href="">실무교육 신청</a>
                    <a href="">
                      실무교육 신청 내역<br />
                      (사이버교육 수강하기)
                    </a>
                    <a href="">수료확인서 발급</a>
                    <a href="">수료확인서 발급 진위확인</a>
                    <a href="">권장학습</a>
                    <a href="">권장학습 신청내역</a>
                  </dd>
                </dl>
                <dl>
                  <dt><a href="">의용소방대교육</a></dt>
                  <dd>
                    <a href="">교육안내</a>
                    <a href="">나의 교육정보</a>
                    <a href="">기본교육신청(사이버)</a>
                    <a href="">전문교육신청(사이버)</a>
                    <a href="">전문교육신청(집합)</a>
                  </dd>
                </dl>
                <dl>
                  <dt><a href="">다중이용업교육</a></dt>
                  <dd>
                    <a href="">교육신청</a>
                    <a href="">업소정보관리</a>
                    <a href="">수료증 출력</a>
                    <a href="">수료진위확인</a>
                  </dd>
                </dl>
                <dl>
                  <dt><a href="">열린교육</a></dt>
                  <dd>
                    <a href="">열린교육 신청</a>
                    <a href="">열린교육 신청내역</a>
                    <a href="">수료확인서 발급</a>
                    <a href="">수료진위확인</a>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="kfsi-header-gnb-item">
            <a href="javascript:void(0)">시험 및 점수</a>
            <div class="kfsi-header-gnb-item-depth">
              <div class="kfsi-inner">
                <dl>
                  <dt><a href="">시험신청</a></dt>
                </dl>
                <dl>
                  <dt><a href="">응시자격 심사 신청</a></dt>
                </dl>
                <dl>
                  <dt><a href="">시험(심사) 신청내역</a></dt>
                </dl>
                <dl>
                  <dt><a href="">시험(평가) 점수확인</a></dt>
                </dl>
                <dl>
                  <dt><a href="">합격자 발표 조회</a></dt>
                </dl>
                <dl>
                  <dt><a href="">시험관련 확인서 신청</a></dt>
                </dl>
              </div>
            </div>
          </div>
          <div class="kfsi-header-gnb-item">
            <a href="javascript:void(0)">자격발급 신청</a>
            <div class="kfsi-header-gnb-item-depth">
              <div class="kfsi-inner">
                <dl>
                  <dt class="kfsi-header-gnb-item-depth-line2">
                    <a href="">자격 발급안내</a>
                  </dt>
                </dl>
                <dl>
                  <dt class="kfsi-header-gnb-item-depth-line2">
                    <a href="">자격 재발급 안내</a>
                  </dt>
                </dl>
                <dl>
                  <dt class="kfsi-header-gnb-item-depth-line2">
                    <a href="">자격 발급심사신청</a>
                  </dt>
                </dl>
                <dl>
                  <dt class="kfsi-header-gnb-item-depth-line2">
                    <a href="">자격 발급신청</a>
                  </dt>
                </dl>
                <dl>
                  <dt>
                    <a href=""
                      >자격 발급(심사) <br />
                      신청 내역</a
                    >
                  </dt>
                </dl>
                <dl>
                  <dt class="kfsi-header-gnb-item-depth-line2">
                    <a href="">자격 취득확인</a>
                  </dt>
                </dl>
                <dl>
                  <dt class="kfsi-header-gnb-item-depth-line2">
                    <a href="">자격 발급 진위확인</a>
                  </dt>
                </dl>
              </div>
            </div>
          </div>
          <div class="kfsi-header-gnb-item">
            <a href="javascript:void(0)">회원서비스 신청</a>
            <div class="kfsi-header-gnb-item-depth">
              <div class="kfsi-inner">
                <dl>
                  <dt><a href="">회원서비스 소개</a></dt>
                </dl>
                <dl>
                  <dt><a href="">재해위로금</a></dt>
                </dl>
                <dl>
                  <dt><a href="">소방안전장학금</a></dt>
                </dl>
                <dl>
                  <dt><a href="">퀴즈이벤트</a></dt>
                  <dd>
                    <a href="" class="active">퀴즈이벤트 참여</a>
                    <a href="">지난이벤트(당첨자)</a>
                  </dd>
                </dl>
                <dl>
                  <dt><a href="">전자도서관</a></dt>
                </dl>
              </div>
            </div>
          </div>
          <div class="kfsi-header-gnb-item">
            <a href="javascript:void(0)">안전관리자 선해임</a>
            <div class="kfsi-header-gnb-item-depth">
              <div class="kfsi-inner">
                <dl>
                  <dt>
                    <a href="">
                      선임신고/선임정보 <br />
                      변경요청
                    </a>
                  </dt>
                </dl>
                <dl>
                  <dt class="kfsi-header-gnb-item-depth-line2">
                    <a href="">신규대상처 신청 신고</a>
                  </dt>
                </dl>
                <dl>
                  <dt>
                    <a href="">
                      안전(보조)관리자 선임<br />
                      신청 내역
                    </a>
                  </dt>
                </dl>
                <dl>
                  <dt class="kfsi-header-gnb-item-depth-line2">
                    <a href="">소방계획서 관리</a>
                  </dt>
                </dl>
                <dl>
                  <dt class="kfsi-header-gnb-item-depth-line2">
                    <a href="">열린교육 </a>
                  </dt>
                </dl>
              </div>
            </div>
          </div>
          <div class="kfsi-header-gnb-item">
            <a href="javascript:void(0)">교육용 콘텐츠</a>
            <div class="kfsi-header-gnb-item-depth">
              <div class="kfsi-inner">
                <dl>
                  <dt>
                    <a href=""> 교재 </a>
                  </dt>
                  <dd>
                    <a href="" class="active">강습교재</a>
                    <a href="">실무교재</a>
                    <a href="">위험물실무해설서</a>
                    <a href="">기타교재</a>
                  </dd>
                </dl>
                <dl>
                  <dt>
                    <a href="">디지털 콘텐츠</a>
                  </dt>
                  <dd>
                    <a href="">영상</a>
                    <a href="">반응형-실감형</a>
                  </dd>
                </dl>
                <dl>
                  <dt>
                    <a href=""> 각종 매뉴얼 </a>
                  </dt>
                </dl>
                <dl>
                  <dt>
                    <a href="">서식</a>
                  </dt>
                </dl>
              </div>
            </div>
          </div>
          <div class="kfsi-header-gnb-item">
            <a href="javascript:void(0)">공지사항</a>
            <div class="kfsi-header-gnb-item-depth">
              <div class="kfsi-inner">
                <dl>
                  <dt>
                    <a href=""> 공지사항 </a>
                  </dt>
                </dl>
                <dl>
                  <dt>
                    <a href=""> 자주묻는 질문 </a>
                  </dt>
                </dl>
                <dl>
                  <dt>
                    <a href=""> 문의하기 </a>
                  </dt>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mo" style="width: 100%; height: 100%">
    <div class="kfsi-header-sub">
      <div class="kfsi-header-back">
        <button onclick="history.back()">뒤로가기</button>
      </div>
      <div class="kfsi-header-title"></div>
      <div class="kfsi-header-button">
        <a href="../index.html" class="kfsi-header-home">홈</a>
        <a href="javascript:void(0)" class="kfsi-header-search btn-search-mo"
          >검색</a
        >
      </div>
      <div class="kfsi-header-head-search">
        <div class="kfsi-inner">
          <div class="kfsi-header-head-search-form">
            <input
              type="text"
              class="form-control form-control-lg"
              title="검색어 입력"
              placeholder="찾고 싶은 검색어를 입력해 보세요."
            />
            <button type="button">검색</button>
          </div>
          <button class="kfsi-header-head-search-close">닫기</button>
        </div>
      </div>
    </div>
    <div class="kfsi-header-main">
      <a href="../index.html" class="kfsi-header-logo"
        ><img src="./assets/images/mo/logo.svg" alt="한국소방안전원"
      /></a>
    </div>
  </div>
  <div class="kfsi-header-menu">
    <a href="javascript:void(0)" class="kfsi-header-menu__open"> 메뉴열기 </a>
    <div class="kfsi-header-menu-wrap">
      <div class="kfsi-header-menu-title">
        전체메뉴
        <div class="kfsi-header-menu-title-link">
          <a href=""><i class="ico-login"></i> 로그인</a>
          <a href=""><i class="ico-logout"></i> 로그아웃</a>
          <hr />
          <a href="">
            <i class="ico-sign"></i>
            회원가입
          </a>
        </div>
      </div>
      <div class="kfsi-header-menu-contents">
        <div class="kfsi-header-menu-nav">
          <a href="#menuListItem01" class="kfsi-header-menu-nav-item active"
            >나의 정보</a
          >
          <a href="#menuListItem02" class="kfsi-header-menu-nav-item"
            >나의 강의실</a
          >
          <a href="#menuListItem03" class="kfsi-header-menu-nav-item"
            >교육신청</a
          >
          <a href="#menuListItem04" class="kfsi-header-menu-nav-item"
            >시험 및 점수</a
          >
          <a href="#menuListItem05" class="kfsi-header-menu-nav-item"
            >자격발급 신청</a
          >
          <a href="#menuListItem06" class="kfsi-header-menu-nav-item"
            >회원서비스 신청</a
          >
          <a href="#menuListItem07" class="kfsi-header-menu-nav-item"
            >안전관리자 선해임</a
          >
          <a href="#menuListItem08" class="kfsi-header-menu-nav-item"
            >교육용 콘텐츠</a
          >
          <a href="#menuListItem09" class="kfsi-header-menu-nav-item"
            >공지사항</a
          >
          <a
            href=""
            class="kfsi-header-menu-nav-item kfsi-header-menu-nav-item--new"
            >원격지원서비스</a
          >
          <a
            href=""
            class="kfsi-header-menu-nav-item kfsi-header-menu-nav-item--new"
          >
            교육, 기술문의 안내 및<br />
            연락처</a
          >
        </div>
        <div class="kfsi-header-menu-list">
          <div class="kfsi-header-menu-list-item active" id="menuListItem01">
            <h4>나의 정보</h4>
            <div class="kfsi-header-menu-list-item-contents">
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt><a href="">개인정보수정</a></dt>
              </dl>
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt><a href="">비밀번호 변경</a></dt>
              </dl>
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt><a href="">로그인 기록</a></dt>
              </dl>
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt><a href="">안전관리자선임이력관리</a></dt>
              </dl>
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt><a href="">나의 교육 정보 조회</a></dt>
              </dl>
              <dl>
                <dt><a href="">나의 소속 관리</a></dt>
                <dd>
                  <a href="">소속 회사 관리</a>
                  <a href="">소속 관리자 관리</a>
                  <a href="">소속 관서 관리</a>
                </dd>
              </dl>
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt><a href="">나의 자격 관리</a></dt>
              </dl>
              <dl>
                <dt><a href="">안전원 멤버십 관리</a></dt>
                <dd>
                  <a href="">회비납부</a>
                  <a href="">안전원 회원확인서 발급</a>
                  <a href="">
                    안전원 회원확인서 <br />
                    진위확인
                  </a>
                  <a href="">안전원 회원탈퇴</a>
                  <a href="">
                    정보제공 수신동의 <br />
                    신청/해지
                  </a>
                </dd>
              </dl>
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt><a href="">회원탈퇴</a></dt>
              </dl>
            </div>
          </div>
          <div class="kfsi-header-menu-list-item" id="menuListItem02">
            <h4>나의 강의실</h4>
            <div class="kfsi-header-menu-list-item-contents">
              <dl>
                <dt><a href="">나의 교육 정보 조회</a></dt>
                <dd>
                  <a href="US-PS00-02-01-01-10.html" class="active"
                    >납부내역 조회</a
                  >
                  <a href="US-PS00-02-01-02-10.html">자격취득 현황</a>
                  <a href="US-PS00-02-01-05-10.html">선임대상처 현황</a>
                </dd>
              </dl>
              <dl>
                <dt><a href="">진행 중인 교육</a></dt>
                <dd>
                  <a href="">교육 목록</a>
                  <a href="">학습 홈</a>
                </dd>
              </dl>
              <dl>
                <dt><a href="">완료된 교육</a></dt>
                <dd>
                  <a href="">강습교육</a>
                  <a href="">실무교육</a>
                  <a href="">열린교육</a>
                  <a href="">의용소방대</a>
                  <a href="">다중이용업교육</a>
                </dd>
              </dl>
            </div>
          </div>
          <div class="kfsi-header-menu-list-item" id="menuListItem03">
            <h4>교육신청</h4>
            <div class="kfsi-header-menu-list-item-contents">
              <dl>
                <dt><a href="">강습교육</a></dt>
                <dd>
                  <a href="" class="active">강습교육 신청</a>
                  <a href="">강습교육 신청 내역</a>
                  <a href="">대기자 교육신청</a>
                  <a href="">수료증 발급</a>
                  <a href="">수료증 진위확인</a>
                  <a href="">교육접수증 진위확인</a>
                </dd>
              </dl>
              <dl>
                <dt><a href="">실무교육</a></dt>
                <dd>
                  <a href="">실무교육 신청</a>
                  <a href="">
                    실무교육 신청 내역<br />
                    (사이버교육 수강하기)
                  </a>
                  <a href="">수료확인서 발급</a>
                  <a href="">수료확인서 발급 진위확인</a>
                  <a href="">권장학습</a>
                  <a href="">권장학습 신청내역</a>
                </dd>
              </dl>
              <dl>
                <dt><a href="">의용소방대교육</a></dt>
                <dd>
                  <a href="">교육안내</a>
                  <a href="">나의 교육정보</a>
                  <a href="">기본교육신청(사이버)</a>
                  <a href="">전문교육신청(사이버)</a>
                  <a href="">전문교육신청(집합)</a>
                </dd>
              </dl>
              <dl>
                <dt><a href="">다중이용업교육</a></dt>
                <dd>
                  <a href="">교육신청</a>
                  <a href="">업소정보관리</a>
                  <a href="">수료증 출력</a>
                  <a href="">수료진위확인</a>
                </dd>
              </dl>
              <dl>
                <dt><a href="">열린교육</a></dt>
                <dd>
                  <a href="">열린교육 신청</a>
                  <a href="">열린교육 신청내역</a>
                  <a href="">수료확인서 발급</a>
                  <a href="">수료진위확인</a>
                </dd>
              </dl>
            </div>
          </div>
          <div class="kfsi-header-menu-list-item" id="menuListItem04">
            <h4>시험 및 점수</h4>
            <div class="kfsi-header-menu-list-item-contents">
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt><a href="">시험신청</a></dt>
              </dl>
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt><a href="">응시자격 심사 신청</a></dt>
              </dl>
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt><a href="">시험(심사) 신청내역</a></dt>
              </dl>
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt><a href="">시험(평가) 점수확인</a></dt>
              </dl>
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt><a href="">합격자 발표 조회</a></dt>
              </dl>
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt><a href="">시험관련 확인서 신청</a></dt>
              </dl>
            </div>
          </div>
          <div class="kfsi-header-menu-list-item" id="menuListItem05">
            <h4>자격발급 신청</h4>
            <div class="kfsi-header-menu-list-item-contents">
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt>
                  <a href="">자격 발급안내</a>
                </dt>
              </dl>
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt>
                  <a href="">자격 재발급 안내</a>
                </dt>
              </dl>
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt>
                  <a href="">자격 발급심사신청</a>
                </dt>
              </dl>
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt>
                  <a href="">자격 발급신청</a>
                </dt>
              </dl>
              <dl>
                <dt>
                  <a href=""
                    >자격 발급(심사) <br />
                    신청 내역</a
                  >
                </dt>
              </dl>
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt>
                  <a href="">자격 취득확인</a>
                </dt>
              </dl>
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt>
                  <a href="">자격 발급 진위확인</a>
                </dt>
              </dl>
            </div>
          </div>
          <div class="kfsi-header-menu-list-item" id="menuListItem06">
            <h4>회원서비스 신청</h4>
            <div class="kfsi-header-menu-list-item-contents">
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt><a href="">회원서비스 소개</a></dt>
              </dl>
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt><a href="">재해위로금</a></dt>
              </dl>
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt><a href="">소방안전장학금</a></dt>
              </dl>
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt><a href="">퀴즈이벤트</a></dt>
                <dd>
                  <a href="" class="active">퀴즈이벤트 참여</a>
                  <a href="">지난이벤트(당첨자)</a>
                </dd>
              </dl>
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt><a href="">전자도서관</a></dt>
              </dl>
            </div>
          </div>
          <div class="kfsi-header-menu-list-item" id="menuListItem07">
            <h4>안전관리자 선해임</h4>
            <div class="kfsi-header-menu-list-item-contents">
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt>
                  <a href="">
                    선임신고/선임정보 <br />
                    변경요청
                  </a>
                </dt>
              </dl>
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt>
                  <a href="">신규대상처 신청 신고</a>
                </dt>
              </dl>
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt>
                  <a href="">
                    안전(보조)관리자 선임<br />
                    신청 내역
                  </a>
                </dt>
              </dl>
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt>
                  <a href="">소방계획서 관리</a>
                </dt>
              </dl>
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt>
                  <a href="">열린교육 </a>
                </dt>
              </dl>
            </div>
          </div>
          <div class="kfsi-header-menu-list-item" id="menuListItem08">
            <h4>교육용 콘텐츠</h4>
            <div class="kfsi-header-menu-list-item-contents">
              <dl>
                <dt>
                  <a href=""> 교재 </a>
                </dt>
                <dd>
                  <a href="" class="active">강습교재</a>
                  <a href="">실무교재</a>
                  <a href="">위험물실무해설서</a>
                  <a href="">기타교재</a>
                </dd>
              </dl>
              <dl>
                <dt>
                  <a href="">디지털 콘텐츠</a>
                </dt>
                <dd>
                  <a href="">영상</a>
                  <a href="">반응형- 실감형</a>
                </dd>
              </dl>
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt>
                  <a href=""> 각종 메뉴얼 </a>
                </dt>
              </dl>
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt>
                  <a href="">서식</a>
                </dt>
              </dl>
            </div>
          </div>
          <div class="kfsi-header-menu-list-item" id="menuListItem09">
            <h4>공지사항</h4>
            <div class="kfsi-header-menu-list-item-contents">
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt>
                  <a href=""> 공지사항 </a>
                </dt>
              </dl>
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt>
                  <a href=""> 자주묻는질문 </a>
                </dt>
              </dl>
              <dl class="kfsi-header-menu-list-item-contents-depth-no">
                <dt>
                  <a href=""> 문의하기 </a>
                </dt>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="javascript:void(0)" class="kfsi-header-menu__close"> 메뉴닫기 </a>
  </div>
</header>

<script>
  $(document).ready(function () {
    //menu
    $('.kfsi-header-menu-list-item-contents dl dt').on('click', function () {
      if ($(window).width() <= 992) {
        if (
          $(this)
            .parents('dl')
            .hasClass('kfsi-header-menu-list-item-contents-depth-no')
        ) {
        } else {
          $(this).parents('dl').toggleClass('active');
          return false;
        }
      }
    });

    $('.kfsi-header-menu-nav-item').on('click', function (e) {
      $('.kfsi-header-menu-nav-item').removeClass('active');

      $(this).addClass('active');

      $('.kfsi-header-menu-list-item').removeClass('active');

      const targetId = $(this).attr('href').substring(1);
      $('#' + targetId).addClass('active');
    });

    $('.kfsi-header-menu-nav-item').on('click', function () {
      $('.kfsi-header-menu-nav-item').removeClass('active');
      $(this).addClass('active');
    });
    $('.kfsi-header-menu__open,.kfsi-header-menu__close').on(
      'click',
      function () {
        $('html').toggleClass('kfsi--menu');
      }
    );

    //search
    $('.kfsi-header .btn-search,.kfsi-header-head-search-close').on(
      'click',
      function () {
        $('html').toggleClass('kfsi--search');
      }
    );
    $('.kfsi-header .btn-search-mo').on('click', function () {
      $('html').toggleClass('kfsi--search');
    });

    //header title
    $('.kfsi-header-title').html($('.kfsi-contents-title h1').text());
  });
</script>
